* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sidebar-content {
  margin-bottom: 40px;
}

.sidebar-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sidebar-item-active {
  color: #FF0000;
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
}

.sidebar-item {
  display: flex;
  align-items: center;
  gap: 20px;
  color: #898989;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}

.sidebar-text {
  margin-left: -5px;
}

.bottom-sidebar {
  margin-top: 60px;
}

.subr-sidebar {
  margin-top: 58px;
  margin-bottom: 107px;
}

.subr-heading {
  margin-bottom: 30px;
}