* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sidebar-content {
  margin-bottom: 160px;
  margin-top: 25px;
}

.sidebar-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  max-width: 200px;
  padding: 0 0 0 20px;
}

.sidebar-item-active {
  color: #FF0000 !important;
  text-decoration: none;
}

.sidebar-item {
  display: flex;
  align-items: center;
  gap: 20px;
  color: #898989;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}

.sidebar-icon {
  align-self: start;
}

.sidebar-text {
  margin-left: -5px;
}


.subr-heading {
  font-size: 15px;
  padding-left: 15px;
  margin-bottom: 5px;
}

.sidebar-bottom {
  margin-top: 90px;
  padding-left: 20px;
}